@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: t;
}

@font-face {
  font-family: 'Expose';
  src: url('../fonts/Expose-Regular.woff2') format('woff2'),
    url('../fonts/Expose-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'P5Menu';
  src: url('../fonts/Persona5MenuFontPrototype-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'P5Name';
  src: url('../fonts/Persona5Name.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.conversation-box-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.conversation-box-wrapper .avatar-wrapper div {
  transform: perspective(29px) skewX(5deg) rotateY(3deg);
  left: -34px;
  top: 2px;
  height: 80px;
  width: 85px;
  box-shadow: -9px -3px 0px black, -9px 4px 0px black, 5px 4px 0px black;
  border-width: 5px 2px 5px 3px;
  border-style: solid;
  border-color: white;
}

.save-data {
  filter: drop-shadow(-5px -5px 0px white) drop-shadow(0px 6px 0px white)
    drop-shadow(-4px -1px 0px white) drop-shadow(20px 0px 0px white);
  letter-spacing: 1px;
  transform: perspective(85px) skewX(11deg) rotateY(9deg) translateZ(-19px);
  font-family: fantasy;
  width: fit-content;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

/* Box Wrapper for the list of friends in the friends list section */
.friend-avatar-box {
  transform: perspective(60px) skewX(6deg) rotateY(1.5deg);
}

.friend-name {
  text-shadow: -3px 2px black;
  font-family: Expose !important;
  letter-spacing: -0.025em !important;
}

/** Background for chat wallpaper */

.persona-bg {
  background-image: url('../public/images/persona-bg.jpg');
  /* background-size: 100% 100%; */
}

.persona-bg2 {
  background-image: url('../public/images/persona-bg2.jpg');
  /* background-size: 100% 100%; */
}

/*! Background for chat wallpaper END*/

/** Date of last message in the conversations list page */
.persona-box-date {
  position: absolute;
  top: -28px;
  left: 50px;
  z-index: 10;
  pointer-events: none;
}

.persona-box-date span {
  background-color: white;
  color: black;
  font-size: 1.4rem;
  font-family: fantasy;
  padding: 2px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.persona-box-date > div > span:first-of-type {
  border-right: 0;
}

.persona-box-date > div > span:nth-child(2),
.persona-box-date > div > span:nth-child(3) {
  border-left: 0;
  border-right: 0;
}

.persona-box-date > div > span:nth-child(4) {
  border-left: 0;
  border-right: 3px solid black;
}

.weekend {
  background-color: red !important;
  color: white !important;
  font-size: 1.2rem !important;
  padding: 4.5px !important;
  padding-right: 6px !important;
  position: relative;
  top: -2px;
}
/*! Date of last messsage end */

.persona-glyphs {
  letter-spacing: 0.175em !important;
  font-family: Expose !important;
}

.persona-IM {
  position: relative;
  font-family: Expose !important;
  letter-spacing: 0.075em !important;
  user-select: none;
}

.persona-menu {
  font-family: P5Menu !important;
  letter-spacing: 0.075em !important;
}

/** Wrapper and styling of each ongoing conversation in users list */
.conversation-box {
  margin: 0 auto 40px;
  width: 330px;
  max-width: 100%;
  z-index: 0;
  color: white;
}

.conversation-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  transform: perspective(8px) skew(-10deg) rotateY(-0.25deg);
  background: black;
  /* outline: 3px solid white; */
  /* box-shadow: -8px 10px 3px rgba(0, 0, 0, 0.5); */
}

.conversation-box:hover .inner-persona-box::before {
  content: '';
  background-color: #fe0000;
  position: absolute;
  left: 13px;
  top: 2px;
  height: 93%;
  width: 90%;
  z-index: -2;
  transform: perspective(16px) skewX(17deg) rotateY(-1deg) skewY(-7deg)
    rotate(5deg);
}

.conversation-box-name {
  font-family: P5Name;
  font-weight: 500;
}

/*! Conversation box wrapper end */

/** Image styling for the avatars/avatar containers on the friends list page */
.persona-avatar-box {
  height: 110px;
  width: 110px;
}

.persona-avatar-box:hover::before {
  background: #17e4f5;
}

.persona-avatar-box:hover p {
  color: #17e4f5;
}

.persona-avatar-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: perspective(15px) skewX(6deg) rotateY(0.5deg);
  background: black;
  outline: 5px solid black;
  box-shadow: -9px 6px 7px black;
  border-top: 8px solid white;
  border-right: 1px solid white;
  border-bottom: 3px solid white;
  border-left: 4px solid white;
}
/*! Image styling for the avatars/avatar containers end */

/** Mobile Sidebar Styles */
.icon-label {
  font-size: 1.4rem;
  font-family: Expose;
  letter-spacing: 0.3rem;
  margin-bottom: 10px;
}

/*! Mobile Sidebar Styles end */

/** Message box wrapper of the chat messages in the chat section */
.persona-text-box {
  margin: 0 auto 110px;
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.persona-text-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: skew(-15deg);
  background: black;
  /* background-image: url('/images/p5-speech-bubble.png'); */
}

.p5-chat-bubble {
  position: absolute;
  z-index: -1;
}

.persona-text-box:first-of-type {
  margin-top: 40px;
}

.last-message {
  margin-bottom: 30px;
}
/*! Message box wrapper of the chat messages end */

.inner-persona-box {
  margin-left: 80px !important;
}

.persona-text-box:hover > .inner-persona-box {
  background: #fe0000;
}

/** Styling for the avatar that appears when you're chatting with another user */

.message-avatar-wrapper {
  position: absolute;
  width: fit-content;
  transform: skewX(8deg);
  background: yellow;
  border: 4px solid white;
  box-shadow: -5px -5px 0px black, -5px 3px 0 black, 3px 3px 0 black,
    3px -5px 0 black, -10px 7px 3px black;
  left: -93px;
  bottom: -7px;
}

.message-avatar-wrapper img {
  transform: translate(7%, -24%) skewX(-10deg);
  height: 84px !important;
  width: 100% !important;
}

/*! Styling for the avatar that appears when you're chatting with another user END */

/** Message box styling */
.message-body::-webkit-scrollbar,
.conversation-list-wrapper::-webkit-scrollbar {
  position: fixed;
  left: 0px;
  width: 6px;
  background-color: black;
}

.message-body::-webkit-scrollbar-thumb,
.conversation-list-wrapper::-webkit-scrollbar-thumb {
  background-color: #fff; /* Set the color of the thumb */
}
.message-body::-webkit-scrollbar-track,
.conversation-list-wrapper::-webkit-scrollbar-track {
  background: black;
}

.message-left,
.message-right {
  width: fit-content;
  max-width: 75%;
}

.message-left {
  margin-left: 105px;
  text-shadow: 0 0 white;
  transform: translateX(var(--box-placement));
}

.message-left::before {
  transform: skew(-4deg);
  z-index: 1;
  box-shadow: 6px -4px 0 white, 6px 4px 0 white, -3px -4px 0 white,
    -3px 4px 0 white;
}

.message-left::after {
  content: '';
  position: absolute;
  left: -28px;
  border: 12px solid rgba(0, 0, 0, 0);
  border-bottom: 16px solid white;
  transform: rotateZ(-82deg);
  width: 0;
  height: 0;
  z-index: 3;
}

/* Green online indicatior square */
.message-left > div > div span {
  right: -3px;
  top: -5px;
}

.conversation-box-wrapper > div span {
  right: 291px;
  top: 71px;
}

.message-left .date-container {
  top: -33px;
  right: -12px;
}

.message-right {
  margin-right: 25px;
  min-width: 50px;
  text-shadow: 0 0 black;
}

.message-right::before {
  background: white;
  outline: 3px solid black;
  content: '';
  transform: skew(5deg);
}

.message-right::after {
  /* content: ''; */
  position: absolute;
  right: 0px;
  top: 30px;
  border-left: 15px solid black;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.message-right .date-container {
  top: -18px;
}

.persona-menu-font {
  font-family: P5Menu !important;
}

/*! Message box styling END */

/** Persona Menu Animation Styling */
.jelly {
  -webkit-animation-name: jelly;
  animation-name: jelly;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.shape-wrapper {
  filter: sepia(50%) saturate(3);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#submit-button:hover .shape-wrapper {
  display: block;
  transform: rotate(-6deg);
}

#submit-button:hover .persona-IM {
  color: black;
  z-index: 100;
  display: block;
  animation: tiltBounce 0.15s ease;
  animation-fill-mode: forwards;
}

#submit-button:hover .shape.cyan-fill {
  transform: scale(1.2, 0.1);
}

.shape {
  transition: all 0.1s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  overflow: hidden;
}

.shape > svg {
  position: absolute;
  left: 0;
  top: 0;
}

.cyan-fill {
  mix-blend-mode: screen;
  animation-delay: 0.05s;
  animation-duration: 0.4s;
}

.red-fill {
  animation-duration: 0.45s;
  animation-delay: 0.08s;
  opacity: 0.8;
}

/* ! Persona Menu Animation Styling END */

/** Animations for Send Button Polygons */
@keyframes tiltBounce {
  0% {
    transform: scale(1) rotate(-7deg);
  }
  50% {
    transform: scale(1.5) rotate(-7deg);
  }
  100% {
    transform: scale(1.15) rotate(-7deg);
  }
}

@keyframes tiltBounceAlt {
  0% {
    transform: scale(1) rotate(7deg);
  }
  50% {
    transform: scale(1.5) rotate(7deg);
  }
  100% {
    transform: scale(1.15) rotate(7deg);
  }
}

@keyframes jelly {
  0% {
    width: 100%;
    transform: scale(1.25, 1) skewX(20deg) translateY(3px) rotateX(40deg)
      rotateY(10deg) rotateZ(-10deg);
  }
  50% {
    width: 100%;
    transform: scale(1.25, 1.1) skewX(-15deg) translateY(-2px) translateZ(-30px);
  }
  100% {
    width: 100%;
    transform: scale(1.25, 1) skewX(20deg) translateY(3px) rotateX(-40deg)
      rotateY(-10deg) rotateZ(-15deg);
  }
}

/*! Animations for Send Button Polygons END */

.home form label {
  font-family: Expose !important;
  font-size: 1.3rem !important;
  letter-spacing: 0.115rem;
}

.settings-modal {
  border: 1px solid black;
  box-shadow: -1px 2px 8px black;
}

/* LAPTOP STYLING */
@media screen and (min-width: 1024px) {
  .message-left {
    margin-left: 155px;
  }

  .message-avatar-wrapper {
    left: -125px;
    bottom: -18px;
  }

  .message-avatar-wrapper img {
    transform: translate(10%, -30%) skewX(-10deg);
    height: 115px !important;
  }

  .persona-text-box:first-of-type {
    margin-top: 56px;
  }
}

/* TABLET STYLING */
@media screen and (max-width: 768px) {
  .message-avatar-wrapper img {
    height: 86px !important;
  }

  .message-left {
    max-width: 70%;
  }
}

/* MOBILE DEVICES STYLING */
@media screen and (max-width: 460px) {
  .message-right {
    margin-right: 10px;
    max-width: 80%;
  }

  .message-left {
    margin-left: 97px;
    max-width: 67%;
    min-width: 50px;
    justify-content: center;
  }

  .message-left::after {
    display: none;
  }

  .message-avatar-wrapper {
    left: -90px;
  }

  .persona-text-box:first-of-type {
    margin-top: 45px;
  }

  .persona-bg,
  .persona-bg2 {
    background: #a40001;
  }
}
