@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: t;
}

@font-face {
  font-family: 'Expose';
  src: url('../fonts/Expose-Regular.woff2') format('woff2'),
    url('../fonts/Expose-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'P5Menu';
  src: url('../fonts/Persona5MenuFontPrototype-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.persona-box-date {
  color: white;
  position: absolute;
  top: -15px;
  font-family: P5Menu !important;
}

.persona-box-date span {
  background-color: white;
  color: black;
  font-size: 1.4rem;
}

.persona-box-date span:last-of-type {
  /* font-family: Expose !important; */
}

.persona-glyphs {
  letter-spacing: 0.175em !important;
  font-family: Expose !important;
}

.persona-IM {
  font-family: Expose !important;
  letter-spacing: 0.075em !important;
}

.persona-text-box {
  margin: 0 auto 20px;
  width: 420px;
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.persona-text-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: skew(-15deg);
  background: black;
  outline: 3px solid white;
}

.persona-text-box:first-of-type {
  margin-top: 15px;
}

.persona-text-box:hover > .inner-persona-box {
  background: #fe0000;
}

.message-left {
  margin-left: 70px;
}

.message-right {
  margin-right: 70px;
}

.persona-menu-font {
  font-family: P5Menu !important;
}

.home form label {
  font-family: Expose !important;
  font-size: 1.3rem !important;
  letter-spacing: 0.115rem;
}
