@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: t;
}

@font-face {
  font-family: 'Expose';
  src: url('../fonts/Expose-Regular.woff2') format('woff2'),
    url('../fonts/Expose-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'P5Menu';
  src: url('../fonts/Persona5MenuFontPrototype-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.conversation-box-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.conversation-box-wrapper .avatar-wrapper div {
  transform: perspective(29px) skewX(-15deg) rotateY(0.2deg);
  left: -25px;
  height: 74px;
  width: 95px;
}

/* Box Wrapper for the list of friends in the friends list section */
.friend-avatar-box {
  transform: perspective(15px) skewX(6deg) rotateY(0.5deg);
}

.friend-name {
  text-shadow: -3px 2px black;
  font-family: Expose !important;
  letter-spacing: -0.025em !important;
}

/*! Date of last message in the conversations list page */
.persona-box-date {
  color: white;
  position: absolute;
  top: -15px;
  font-family: P5Menu !important;
}

.persona-box-date span {
  background-color: white;
  color: black;
  font-size: 1.4rem;
}

.persona-box-date span:last-of-type {
  /* font-family: Expose !important; */
}
/*! Date of last messsage end */

.persona-glyphs {
  letter-spacing: 0.175em !important;
  font-family: Expose !important;
}

.persona-IM {
  font-family: Expose !important;
  letter-spacing: 0.075em !important;
}

.persona-menu {
  font-family: P5Menu !important;
  letter-spacing: 0.075em !important;
}

/*! Wrapper and styling of each ongoing conversation in users list */
.conversation-box {
  margin: 0 auto 30px;
  width: 335px;
  max-width: 100%;
  position: relative;
  z-index: 0;
  color: white;
}

.conversation-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: skew(-15deg);
  background: black;
  outline: 3px solid white;
  box-shadow: -4px 6px 11px black;
}

.conversation-box:hover {
  color: black !important;
}

.conversation-box:hover::before {
  background: white;
  outline: 3px solid black;
  color: black;
}
/*! Conversation box wrapper end */

/*! Image styling for the avatars/avatar containers on the friends list page */
.persona-avatar-box {
  height: 110px;
  width: 110px;
}

.persona-avatar-box:hover::before {
  background: #17e4f5;
}

.persona-avatar-box:hover p {
  color: #17e4f5;
}

.persona-avatar-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: perspective(15px) skewX(6deg) rotateY(0.5deg);
  background: black;
  outline: 5px solid black;
  box-shadow: -9px 6px 7px black;
  border-top: 8px solid white;
  border-right: 1px solid white;
  border-bottom: 3px solid white;
  border-left: 4px solid white;
}
/*! Image styling for the avatars/avatar containers end */

/*! Message box wrapper of the chat messages in the chat section */
.persona-text-box {
  margin: 0 auto 80px;
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.persona-text-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: skew(-15deg);
  background: black;
  /* border-right: 3px outset;
  border-color: white; */
}

.persona-text-box:first-of-type {
  margin-top: 40px;
}
/*! Message box wrapper of the chat messages end */

.inner-persona-box {
  margin-left: 108px !important;
}

.persona-text-box:hover > .inner-persona-box {
  background: #fe0000;
}

/*! Styling for the avatar that appears when you're chatting with another user */

.message-avatar-wrapper {
  position: absolute;
  width: fit-content;
  transform: skewX(8deg);
  background: yellow;
  border: 4px solid white;
  box-shadow: -5px -5px 0px black, -5px 3px 0 black, 3px 3px 0 black,
    3px -5px 0 black, -10px 7px 3px black;
  left: -75px;
  bottom: -7px;
}

.message-avatar-wrapper img {
  transform: translate(7%, -24%) skewX(-10deg);
  height: 84px !important;
  width: 100% !important;
}

/*! Styling for the avatar that appears when you're chatting with another user END */

/*! Message box styling */
.message-body::-webkit-scrollbar {
  position: fixed;
  left: 0px;
  width: 6px;
  background-color: white;
}

.message-body::-webkit-scrollbar-thumb {
  background-color: #000000; /* Set the color of the thumb */
}
.message-body::-webkit-scrollbar-track {
  background: silver;
}

.message-left,
.message-right {
  width: fit-content;
  max-width: 75%;
}

.message-left {
  margin-left: 95px;
  text-shadow: 0 0 white;
}

.message-left::before {
  transform: skew(-4deg);
  z-index: 1;
  box-shadow: 6px -4px 0 white, 6px 4px 0 white, -3px -4px 0 white,
    -3px 4px 0 white;
}

.message-left::after {
  content: '';
  position: absolute;
  left: -33px;
  border: 12px solid rgba(0, 0, 0, 0);
  border-bottom: 25px solid white;
  transform: rotateZ(-82deg);
  width: 0;
  height: 0;
  z-index: 3;
}

.message-left > div > div span {
  right: -15px;
  top: -2px;
}

.message-right {
  margin-right: 25px;
  min-width: 50px;
  text-shadow: 0 0 black;
}

.message-right::before {
  background: white;
  outline: 3px solid black;
  content: '';
  transform: skew(5deg);
}

.message-right::after {
  /* content: ''; */
  position: absolute;
  right: 0px;
  top: 30px;
  border-left: 15px solid black;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.persona-menu-font {
  font-family: P5Menu !important;
}

/*! Message box styling END */

.home form label {
  font-family: Expose !important;
  font-size: 1.3rem !important;
  letter-spacing: 0.115rem;
}

.settings-modal {
  border: 1px solid black;
  box-shadow: -1px 2px 8px black;
}

@media screen and (min-width: 1024px) {
  .message-left {
    margin-left: 155px;
  }

  .message-avatar-wrapper {
    left: -125px;
    bottom: -18px;
  }

  .message-avatar-wrapper img {
    transform: translate(10%, -30%) skewX(-10deg);
    height: 115px !important;
  }

  .persona-text-box:first-of-type {
    margin-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .message-avatar-wrapper img {
    height: 86px !important;
  }
}

@media screen and (max-width: 460px) {
  .message-right {
    margin-right: 15px;
    max-width: 80%;
  }
  .message-left {
    margin-left: 110px;
    max-width: 70%;
    min-width: 50px;
    justify-content: center;
  }

  .message-left::after {
    display: none;
  }

  .message-avatar-wrapper {
    left: -90px;
  }
}
